 body {background-color: black}
 #gameCanvas {
        position: absolute;
        
      }
      #score {
        text-align: center;
        font-size: 100px;
        font-family: 'Times New Roman', Times, serif;
        color: aqua
      }